<form class="container dropzone">

  {{#if raw_product.images.length}}
    <div id="uploaded-images-preview">
      {{#each raw_product.images}}
        <div class="col-xs-4">
          <img class="img-responsive" src="/{{this.path}}">
          <button class="btn btn-primary btn-delete-picture" data-image-path="{{this.path}}">Delete</button>
        </div>
      {{/each}}
      <div class="clearfix"></div>
    </div>
  {{/if}}
  <div id="upload-images-preview">

  </div>
  <div class="form-group">
    <label for="input-upload-images">Upload Images</label>
    <input type="file" id="input-upload-images" class="form-control" accept="image/*" multiple>
  </div>


  <div class="form-group">
    <label for="input-product-name">Name</label>
    <input type="text" class="form-control" id="input-product-name" placeholder="name" value="{{raw_product.name}}">
  </div>

  <div class="form-group">
    <label for="textarea-description">Description</label>
    <textarea rows="5" id="textarea-description" class="form-control" placeholder="input product description here...">{{raw_product.description}}</textarea>
  </div>

  <div class="form-group">
    <label for="input-product-name-cn">Name (中文)</label>
    <input type="text" class="form-control" id="input-product-name-cn" placeholder="name" value="{{raw_product.name_cn}}">
  </div>

  <div class="form-group">
    <label for="textarea-description-cn">Description (中文)</label>
    <textarea rows="5" id="textarea-description-cn" class="form-control" placeholder="input product description(中文) here...">{{raw_product.description_cn}}</textarea>
  </div>

  <button id="btn-submit" class="btn btn-primary btn-block">{{#if product}}Edit Product{{else}}Add Product{{/if}}</button>
</form>

<script>
    {{#if product}}
    var isEdit = true;
    var previousProductInfo = '{{{product}}}';
    var editProductId = "{{raw_product._id}}";
    {{/if}}
</script>
<script type="text/javascript" src="/javascripts/add_nstudio_product.js"></script>




