<form class="container dropzone">
    <div class="form-group">
        <label for="input-product-name">Product Name</label>
        <input type="text" class="form-control" id="input-product-name" placeholder="name" value="{{raw_product.name}}">
    </div>
    <div class="form-group">
        <label for="select-category">Category</label>
        <select id="select-category" class="form-control">
            {{#each categories}}
                <option value="{{this._id}}" data-subcategories="{{this.subcat}}">{{this.name}}</option>
            {{/each}}
        </select>
    </div>
    <div class="form-group">
        <label for="select-sub-category">SubCategory</label>
        <select id="select-sub-category" class="form-control">
            <!--{{#each categories.0.subcategories}}-->
                <!--<option value="{{this._id}}" data-subcategories="">{{this.name}}</option>-->
            <!--{{/each}}-->
        </select>
    </div>
    <div class="form-group">
        <label for="input-upload-images">Upload Images</label>
        <input type="file" id="input-upload-images" class="form-control" accept="image/*" multiple>
    </div>
    {{#if raw_product.images.length}}
    <div id="uploaded-images-preview">
        {{#each raw_product.images}}
            <div class="col-xs-4">
                <img class="img-responsive" src="/{{this.path}}">
                <button class="btn btn-primary btn-delete-picture" data-image-path="{{this.path}}">Delete</button>
            </div>
        {{/each}}
        <div class="clearfix"></div>
    </div>
    {{/if}}
    <div id="upload-images-preview">

    </div>
    <div class="form-group">
        <label for="textarea-description">Description</label>
        <textarea rows="5" id="textarea-description" class="form-control" placeholder="input product description here...">{{raw_product.description}}</textarea>
    </div>

    <div>
      <label for="checkbox-new-arrival">New Arrivals</label>
      <input id="checkbox-new-arrival" type="checkbox"/>
    </div>
    <div class="form-group">
        <label for="checkbox-fabrics">
            <h3>Build Your Own A</h3>
            <input type="checkbox" id="checkbox-fabrics">
        </label>
    </div>
    <div id="price-group-a">
        <div class="row">
            <div class="col-xs-1 col-xs-offset-1">
                <button id="btn-add-price-group-a" class="btn btn-default">Add</button>
            </div>
            <div class="col-xs-1 col-xs-offset-1">VOL</div>
            <div class="col-xs-1">Price/LLL</div>
            <div class="col-xs-1">Price/LL</div>
            <div class="col-xs-1">Price/L</div>
            <div class="col-xs-1">Price/M</div>
            <div class="col-xs-1">Price/H</div>
            <div class="col-xs-1">Price/HH</div>
            <div class="col-xs-1">Price/HHH</div>
        </div>
        <div id="price-group-a-wrapper">

        </div>
        <div class="form-group">
            <label for="input-price-ratio">Price Ratio</label>
            <div class="input-group">
                <div class="input-group-addon">Quantity 6-10 / Quantity >10 =</div>
                <input type="tel" name="input-price-ratio" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Delivery Time:</div>
                <input type="number" name="input-delivery-time" class="form-control">
                <div class="input-group-addon">Days</div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Download File: </div>
                <input type="file" name="input-download-link" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="checkbox-material">
            <h3>Build Your Own B</h3>
            <input type="checkbox" id="checkbox-material">
        </label>
    </div>
    <div id="price-group-b">
        <div class="row">
            <div class="col-xs-1 col-xs-offset-1">
                <button id="btn-add-price-group-b" class="btn btn-default">Add</button>
            </div>
            <div class="col-xs-1 col-xs-offset-1">VOL</div>
            <div class="col-xs-1">Oak</div>
            <div class="col-xs-1">ELM</div>
            <div class="col-xs-1">Pine</div>
        </div>
        <div id="price-group-b-wrapper">

        </div>
        <div class="form-group">
            <label for="input-price-ratio">Price Ratio</label>
            <div class="input-group">
                <div class="input-group-addon">Quantity 6-10 / Quantity >10 =</div>
                <input type="tel" name="input-price-ratio" class="form-control">
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Delivery Time:</div>
                <input type="number" name="input-delivery-time" class="form-control">
                <div class="input-group-addon">Days</div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon">Download File: </div>
                <input type="file" name="input-download-link" class="form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="input-available-sizes">Available Sizes</label>
        <input type="file" id="input-available-sizes" accept="image/*" class="form-control">
    </div>
    {{#if raw_product.available_sizes_image.path}}
        <div class="uploaded-available-sizes-image">
            <button class="btn btn-primary btn-delete-available-size-image">Delete</button>
            <img class="img-responsive" src="/{{raw_product.available_sizes_image.path}}">
        </div>
    {{/if}}

    <div id="available-sizes-preview"></div>

    <button id="btn-submit" class="btn btn-primary btn-block">{{#if product}}Edit Product{{else}}Add Product{{/if}}</button>
</form>

<script type="text/template" id="price-group-a-template">
    <div class="row price-group-row">
        <div class="col-xs-1">Size</div>
        <div class="col-xs-2"><input type="text" class="input-model-name form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-volume form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-lll form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-ll form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-l form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-m form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-h form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-hh form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-hhh form-control"></div>
        <div class="col-xs-1">
            <button class="btn-delete-price-group btn btn-default">Delete</button>
        </div>
    </div>
</script>

<script type="text/template" id="price-group-b-template">
    <div class="row price-group-row">
        <div class="col-xs-1">Size</div>
        <div class="col-xs-2"><input type="text" class="input-model-name form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-volume form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-oak form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-elm form-control"></div>
        <div class="col-xs-1"><input type="text" class="input-price-pine form-control"></div>
        <div class="col-xs-1">
            <button class="btn-delete-price-group btn btn-default">Delete</button>
        </div>
    </div>
</script>
<script>
    {{#if product}}
        var isEdit = true;
        var previousProductInfo = {{{product}}};
        var editProductId = "{{raw_product._id}}";
    {{/if}}
</script>
<script type="text/javascript" src="/javascripts/add_product.js"></script>




