<!-- Slider main container -->
<div class="container product-container">
    <div class="row">
        <div class="swiper-container ">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {{#each product.images}}
                    <div class="swiper-slide">
                        <img src="/{{this.path}}">
                    </div>
                {{/each}}
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>

            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </div>

    <h1 class="h3">{{product.name}}</h1>
    <p>{{{product.description}}}</p>
    <hr>

    {{!#if user.check_price}}
    {{#if false}}
    <h2 class="h4">Build Your Own</h2>
    <div class="collapse-wrapper collapsed">
        <div class="collapse-wrapper-inner">
            <div class="row">
                <div class="col-xs-4 col-md-3">
                    <div>Size</div>
                    <select id="select-model" class="form-control">
                        {{#each product.models}}
                            {{#if this.fabrics}}
                                <option data-volume="{{this.volume}}" value="{{this.fabrics}}">{{this.name}}</option>
                            {{else}}
                                <option data-volume="{{this.volume}}" value="{{this.materials}}">{{this.name}}</option>
                            {{/if}}

                        {{/each}}
                    </select>
                </div>
                <div class="col-xs-4 col-md-4">
                    <div>Finishes</div>
                    <select id="select-finishes" class="form-control"></select>
                </div>
                <div class="col-xs-4 col-md-2">
                    <div>Quantity</div>
                    <select id="select-quantity" class="form-control">
                        <option value="{{product.batch_ratio}}">6-10</option>
                        <option value="0">>10</option>
                    </select>
                </div>
            </div>
            <br>
            <div>FOB Ningbo price/PC: <span class="navy-blue"><span id="span-price"></span> US$</span></div>
            <div>VOL/PC: <span class="navy-blue"><span id="span-volume"></span> CBM</span></div>
            <div>Delivery Time: <span class="navy-blue">{{product.delivery_time}} days</span></div>
            <br>
            <div>*Any alternation is subject to the final PI we send to you.</div>
            <div>*<a target="_blank" href="/{{product.download_link}}">Download</a> an order sheet and make a draft order yourself.</div>
        </div>
    </div>
    <hr class="collapse-toggle">
    {{/if}}

    {{#if product.available_sizes_image.path}}
    <h2 class="h4">Available Sizes</h2>
    <div class="collapse-wrapper collapsed">
        <div class="collapse-wrapper-inner">
            <img class="img_available_sizes" src="/{{product.available_sizes_image.path}}">
        </div>
    </div>
    <hr class="collapse-toggle">
    {{/if}}

    {{#if fabricGroups}}
    <h2 class="h4">Available Fabrics & Leathers</h2>
    <div class="collapse-wrapper collapsed">
        <div class="collapse-wrapper-inner">
        {{#each fabricGroups}}
            <div class="container product-container">
                <h3 class="h5 price-group-header">{{@key}}</h3>
                {{#each this}}<div class="col-xs-6 col-md-4 fabric-card-wrapper"
                                   data-fabric-id="{{this._id}}">
                    <div class="fabric-card" style="background-image:url(/{{this.image.path}})">
                        <div class="dummy"></div>
                    </div>
                    <div class="fabric-name">{{this.name}}</div>
                </div>{{/each}}
            </div>
        {{/each}}
        </div>
    </div>
    <hr class="collapse-toggle">
    {{/if}}

    {{#if materialGroups}}
    <h2 class="h4">Available Materials</h2>
    <div class="collapse-wrapper collapsed">
        <div class="collapse-wrapper-inner">
            {{#each materialGroups}}
                <div class="container product-container">
                    <h3 class="h5 price-group-header">{{@key}}</h3>
                    {{#each this}}<div class="col-xs-6 col-md-4 material-card-wrapper"
                                       data-material-id="{{this._id}}">
                        <div class="material-card" style="background-image:url(/{{this.image.path}})">
                            <div class="dummy"></div>
                        </div>
                        <div class="material-name">{{this.name}}</div>
                    </div>{{/each}}
                </div>
            {{/each}}
        </div>
    </div>
    <hr class="collapse-toggle">
    {{/if}}
</div>
<script>
    {{#if fabricGroups}}
        var isFabric = true;
    {{/if}}
</script>
<script type="text/javascript" src="/javascripts/product.js"></script>
